{% extends "layout.html.twig" %}


{% block body %}
    <container>
        <row class="header">
            <columns>
                <spacer size="16"></spacer>
                <h1 class="text-center">Bienvenue !</h1>
            </columns>

           
    <h1>{{ program.title }} </h1>

    <p>vient d'être publiée sur Wild Séries !</p>

    <p>Résumé: {{program.summary }}

        </row>
    </container>
{% endblock %}