{% extends '@EasyAdmin/layout.html.twig' %}
 
{% block main %}
<h1> Bienvenue dans votre espace administrateur </h1>
Vous avez  {{ program }} Séries et  {{ season }} saisons et {{ season }} épisodes .
{% endblock %}